* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
@media (min-width: 38em) {
  html {
    font-size: 18px;
  }
}

body {
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a {
  color: #268bd2;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}


h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 1.6rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}


@media screen and (min-width: 30em){
   .rwd-break { display: none; }
}

@media screen and (min-width: 70em){
	h1 {
  font-size: 2rem;
}

.container {
  max-width: 70rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}

}

@media screen and (min-width: 70em) {
  html {
    font-size: 30px;
  }
}

.vert1{
position: absolute;
top: 50%;
margin-top: -7rem;
left: 0;
width: 100%;
}

.container {
  max-width: 38rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}

.page,
.post {
  margin-bottom: 2em;
}


.page-title,
.post-title,
.post-title a {
  color: #0c84c5;
  font-weight: normal;
}
.page-title,
.post-title {
  margin-top: 0;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}