* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;							
  padding: 0;
}
@media (min-width: 38em) {
  html {
    font-size: 1.2rem;
  }
}

body {
  color: #515151;
  background-color: #fff;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  margin-top: -7rem;
  left: 0;
  width: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: #0c84c5;
  font-weight: normal
}

a:hover,
a:focus {
  text-decoration: underline;
}

h1 {
  margin-bottom: .5rem;
  line-height: 1.25;
  font-size: 1.6rem;
  text-rendering: optimizeLegibility;
  color: #0c84c5;
  font-weight: 300;
  margin-top: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 300;
}

@media screen and (min-width: 70em){
html {
  font-size: 2rem;
}	
	
h1 {
  font-size: 2rem;
}

.container {
  max-width: 70rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
 }
 
}

.container {
  max-width: 38rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
  margin-bottom: 2em;
}