doctype html
html(lang=en)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Steve | Chris
    meta(name='description' content='A page of redirection for Steve and Chris.')
    link(rel='stylesheet' href='dist/main.css')

  body.container
    a.box(href='https://steve.dignam.xyz')
      img(src='dist/static/profile1.gif')
      h2 Steve

    a.box(href='https://christopher.xyz')
      img(src='dist/static/profile2.gif')
      h2 Chris
